<h1><%= @movie.title %></h1>
<p><strong>Rating:</strong> <%= @movie.rating %></p>
<p><strong>Release date:</strong> <%= @movie.release_date %></p>
<p><%= @movie.description %></p>
<p><%= link_to 'Back', movies_path %></p>
